.upperpart{
    height:481px;
    width:1366px;
    background-color: black;
}
.mbappelogo{
    margin-top: 42px;
}
.heading{
    font-family: 'Berkshire Swash';
    color: #FF5E19;
    width: 400px;
}
.text{
    color: #FFFFFF;
    font-family: 'Manrope';
    width: 400px;
}
.upperpart{
    overflow-x: hidden;
    overflow-y: hidden;
}
.messilogo{
    position:absolute;
    right:150px;
    top:80px
}
.footballlogo{
    position:absolute;
    right:70px;
    bottom: 80px;
}
.middle{
    background-color:rgba(67, 67, 67, 1);
    overflow: hidden;
}
.card{
    margin-top: 50px;
    color: #FFFFFF;
}
.card-body{
    background-color: black;
}
.black{
    background-color: black;
    height: 60px; 
    color: #FFFFFF; 
}

.align{
    float: left;
}
.all{
    padding: 20px;
}
.black1{
    background-color: black;
    height: 54px; 
    color: #FFFFFF;
}
.budget{
    margin-top: 55px;
    width: 14rem;
    margin-left: 10px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    background-color: black;
  }
  .budget{
    color: white;
    background-color: black;
  }
  .hrr{
    width: 70%;
  }